<!DOCTYPE html>
<html lang="en">

<head>
    <!-- icon animated -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RestApis FatherBot</title>
    <link href="https://inirey.github.io/lolhuman/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://inirey.github.io/lolhuman/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://inirey.github.io/lolhuman/css/default.css" rel="stylesheet">
    <link href="https://inirey.github.io/lolhuman/css/style.css" rel="stylesheet">
    <script type="text/javascript">
    window.setTimeout("waktu()",1000);
    function waktu() {
        var tanggal = new Date();
        setTimeout("waktu()",1000);
        document.getElementById("jam").innerHTML = tanggal.getHours();
        document.getElementById("menit").innerHTML = tanggal.getMinutes();
        document.getElementById("detik").innerHTML = tanggal.getSeconds();
    }
</script>
</head>
<style>
    #jam-digital{overflow:hidden; width:350px}
    #hours{float:left; width:10px; height:50px; background-color: transparent; margin-right:15px; margin-left:15px}
    #minute{float:left; width:30px; height:50px; background-color: transparent}
    #second{float:right; width:30px; height:50px; background-color: transparent; margin-left:10px}
    #jam-digital p{color:#FFF; font-size:36px; text-align:center; margin-top:4px}
</style>
<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <i class="fa fa-smile-beam fa-2x"></i>
                <div class="sidebar-brand-text mx-3">RestApis FatherBot</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div>
                        <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/downloader"">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloader</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/textmaker"">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Text maker</span>
                </a>
            </li>
            
                        <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/game"">
                    <i class="fa fa-gamepad"></i>
                    <span>Menu Game</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/islami"">
                    <i class="fas fa-star-and-crescent"></i>
                    <span>Islamic</span>
                </a>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/simisimi"">
                    <i class="fas fa-smile"></i>
                    <span>Simi simi</span>
                </a>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/primbon"">
                    <i class="fas fa-star"></i>
                    <span>primbon</span>
                </a>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/randomimage"">
                    <i class="fa fa-fw fa-image"></i>
                    <span>Random image</span>
                </a>
                </li>
 
 
 
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/nsfw"">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Nsfw</span>
                </a>
      </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/randomanime"">
                    <i class="fa fa-fw fa-cat"></i>
                    <span>Random Anime</span>
                </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/docs/sticker"">
                    <i class="fas fa-smile"></i>
                    <span>Sticker & Canvas</span>
                </a>

            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://t.me/tinoisgoodtxt">
                    <i class="fab fa-fw fa-telegram-plane"></i>
                    <span>Telegram</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item dropdown no-arrow">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-success badge-counter">2 </span>
              </a>
                 <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header bg-info-gradient">
                  INFO CENTER
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-info-circle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">May 05, 2021</div>
                    <span style="font-size:12px;">Delete Apikey: OneDayOneCharity</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">November 19, 2020</div>
                    <span style="font-size:14px;">Kelahiran Rest Api</span>
                  </div>
                </a>
              </div>
            </li>
            </ul>
  </nav>
                <!-- Sidebar -->

                    <!-- Container Fluid-->
                    	
                    
                    
                    
                    
                    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 background-color: green>Simi-Simi Documentation</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Feature</th>
                                <th class="text-center">Method</th>
                                <th>Description</th>
                                <th class="text-center">Parameter</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>Simi Indonesia</td>
                                <td style="color: #00f2c3" class="text-center">
                                    GET
                                </td>
                                <td>Simi Chat</td>
                                <td class="text-center">query, apikey</td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success" style="color: #27293d">Active</span
                                    >
                                </td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success""><a href="/api/fun/simisimi-ind2?text=hallo%20kak&apikey=">CLICK</a></span
                                </td>
                            </tr>
                            <tr>
                                <td>Simi English</td>
                                <td style="color: #00f2c3" class="text-center">
                                    GET
                                </td>
                                <td>Simi Chat</td>
                                <td class="text-center">query, apikey</td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success" style="color: #27293d">Active</span
                                    >
                                </td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success""><a href="/api/fun/simisimi2?text=how%20are%20you&apikey=">CLICK</a></span
                                </td>
                            </tr>
                            <tr>
                                <td>Simi English</td>
                                <td style="color: #00f2c3" class="text-center">
                                    GET
                                </td>
                                <td>Simi Chat</td>
                                <td class="text-center">query, apikey</td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success" style="color: #27293d">Active</span
                                    >
                                </td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success""><a href="/api/fun/simisimi2?text=how%20are%20you&apikey=">CLICK</a></span
                                </td>
                            </tr>
                            <tr>
                                <td>Simi Arab</td>
                                <td style="color: #00f2c3" class="text-center">
                                    GET
                                </td>
                                <td>Simi Chat</td>
                                <td class="text-center">query, apikey</td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success" style="color: #27293d">Active</span
                                    >
                                </td>
                                
                                <td class="text-center">
                                    <span class="badge badge-success""><a href="/api/fun/simisimi4?text=assalamualaikum ya aqhi&apikey=">CLICK</a></span
                                </td>
                            </tr>
                            
                            
                        
    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://inirey.github.io/lolhuman/vendor/jquery/jquery.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/js/ruang-admin.min.js"></script>
</body>

</html>
